header{
    /* Entete qui reste colle en haut de la page */
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: var(--main-yellow); 
    /* La variable est stockée dans common.css */
    left: 0;
    top: 0;
}

header a h1{
    text-transform: uppercase;
    text-align: center;
    color: black !important;
}